{% extends '::base.html.twig' %}

{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <a href="{{ path('wcs_employee_schools', {'activity': app.request.get('activity')}) }}" class="btn__retour">Retour</a>
        <center><h1>{{ title }}</h1></center>
    </div>

    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table">

                <tr>
                    <td class="text-center welcome dateNow" id="{{ date_day|date("Y-m-d") }}">
                        {{ date_day|date("d/m/Y") }}
                    </td>
                    {% if 'cantine' == app.request.get('activity') %}

                    <td class="text-center welcome schoolname" colspan="5" id="{{ app.request.get('school').id }}">
                        {% else %}
                    <td class="text-center welcome schoolname" colspan="3" id="{{ app.request.get('school').id }}">
                        {% endif %}
                        Enfants inscrits - {{ app.request.get('school').name }}
                    </td>
                </tr>

                <tr>
                    <td class="todayList text-center">Présence</td>
                    <td class="todayList text-center">Classe</td>
                    <td class="todayList text-center">Nom</td>
                    <td class="todayList text-center">Prénom</td>

                    {% if 'cantine' == app.request.get('activity') %}

                        <td class="todayList text-center">Allergie(s)</td>
                        <td class="todayList text-center">Régime sans porc</td>

                    {% endif %}
                </tr>


                {% for entity in entities %}
                    <tr>
                        <td class="text-center pupil">
                            {% if entity.status == 0 %}
                                <input type="checkbox" class="eleve" name="eleve" value="{{ entity.id }}" />

                            {% elseif entity.status == 1 %}
                                <p class="eleveAjoute">PRESENT</p>
                                <a href="{{ path('wcs_employee_remove',
                                {'activity':app.request.get('activity'), 'id': app.request.get('school').id, 'id_activity': entity.id })
                                }}">Désinscrire</a>

                            {% elseif entity.status == 2 %}
                                <p class="eleveAjoute">PRESENT</p>

                            {% else %}

                            {% endif %}
                        </td>
                        <td class="text-center">{{ entity.eleve.division.grade }} {{ entity.eleve.division.headteacher }}</td>
                        <td class="text-center">{{ entity.eleve.nom |upper}}</td>
                        <td class="text-center">{{ entity.eleve.prenom }}</td>

                        {% if 'cantine' == app.request.get('activity') %}

                            <td class="text-center">{{ entity.eleve.allergie }}</td>
                            <td class="text-center sansporc">
                                {% if entity.eleve.regimeSansPorc == 1 %}
                                    OUI
                                {% else %}
                                    NON
                                {% endif %}
                            </td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            {{ form_start(form_register) }}
            <div class="row">
                <div class="text-center col-md-12">
                    {{ form_widget(form_register.eleve) }}
                </div>
                <div class="btnAjouter text-center col-md-12">
                    {{ form_widget(form_register.Ajouter) }}
                </div>
            </div>
            <div class="hidden">
                {{ form_widget(form_register.status) }}
                {{ form_widget(form_register.date) }}
            </div>
            {{ form_end(form_register) }}

        </div>


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="text-center">Nombre d'inscrits :</td>
                    <td id='total_registered' class="text-center"></td>
                </tr>

                {% if 'cantine' == app.request.get('activity') %}

                    <tr>
                        <td class="text-center">Nombre de Régime sans porc :</td>
                        <td id='total_no_pork' class="text-center"></td>
                    </tr>
                    <tr>
                        <td class="text-center">Nombre d'enfants présents :</td>
                        <td id='total_present' class="text-center"></td>
                    </tr>

                {% endif %}

            </table>
        </div>

        <form action="{{
        path('wcs_employee_daylist', {'activity': app.request.get('activity'), 'id': app.request.get('school').id})
        }}" method="POST" {{ form_enctype(form_validate) }}>

            <div class="hidden">
                {{ form_widget(form_validate.status, {'attr' : {'class' : 'idElevesPresents'}})}}
            </div>
            <input type="submit" class="submit btn btn-primary text-center col-md-offset-4 col-md-4" name="login" value="Valider"/>

        </form>

    </div>



{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/wcscantine/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/wcscantine/js/bootstrap.min.js') }}"></script>

    <script>
        window.onload = function () {
            var total_register  = $('.pupil').length;
            var node_total_register = $("#total_registered");
            node_total_register.text(total_register);

            var total_present   = $('.pupil:contains("PRESENT")').length;
            var node_total_present  = $("#total_present");
            node_total_present.text(total_present);


            {% if 'cantine' == app.request.get('activity') %}

            $("#total_no_pork").text($('.sansporc:contains("OUI")').length);

            {% endif %}

            var nodes_eleve = $(".eleve");
            var $choiceDisplay = $(".idElevesPresents"); //jquery selector for the display box


            nodes_eleve.click(function () {
                var nbCheckedPresent = $('input:checkbox:checked').length;
                node_total_present.text(total_present + nbCheckedPresent);
            });

            nodes_eleve.on("change", function () {
                var $this = $(this), //jquery selector for the changed input
                        isThisChecked = $this.prop("checked"), //boolean true if the box is checked
                        choiceSelectionsArray = $choiceDisplay.val().split(",").filter(function(e){return e !== ""}), //array of values that are checked
                        isThisValueInDisplayedSelection = $.inArray($this.val(), choiceSelectionsArray) !== -1; //boolean true when $this value displayed

                if (isThisChecked) {
                    if (isThisValueInDisplayedSelection) {
                        return false; //odd, the value is already displayed.  No work to do.
                    } else {
                        choiceSelectionsArray.push($this.val());
                        $choiceDisplay.val(choiceSelectionsArray.join());
                    }
                } else { //box has been unchecked
                    if (isThisValueInDisplayedSelection) {
                        choiceSelectionsArray = choiceSelectionsArray.filter(function(e){return e !== $this.val()})
                        $choiceDisplay.val(choiceSelectionsArray.join());
                    }
                }
            });

        }

    </script>
{% endblock %}

{% block footer %}{% endblock %}


