{% extends '::base.html.twig' %}

{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <a href="{{ path('wcs_employee_schools', {'activity': app.request.get('activity')}) }}" class="btn__retour">Retour</a>
        <center><h1>{{ title }}</h1></center>
    </div>

    <div class="container-fluid">
        <div class="table-responsive">

            {{ form_start(form_register) }}

            <table class="table">

                <tr>
                    <td class="text-center welcome dateNow" id="{{ date_day|date("Y-m-d") }}">
                        {{ date_day|date("d/m/Y") }}
                    </td>
                    {% if 'cantine' == app.request.get('activity') %}

                    <td class="text-center welcome schoolname" colspan="5" id="{{ app.request.get('school').id }}">
                        {% else %}
                    <td class="text-center welcome schoolname" colspan="3" id="{{ app.request.get('school').id }}">
                        {% endif %}
                        Enfants inscrits - {{ app.request.get('school').name }}
                    </td>
                </tr>

                <tr>
                    <td class="todayList text-center">Présence</td>
                    <td class="todayList text-center">Classe</td>
                    <td class="todayList text-center">Nom</td>
                    <td class="todayList text-center">Prénom</td>

                    {% if 'cantine' == app.request.get('activity') %}

                        <td class="todayList text-center">Allergie(s)</td>
                        <td class="todayList text-center">Régime sans porc</td>

                    {% endif %}
                </tr>


                {% for entity in entities %}
                    <tr>
                        <td class="text-center pupil">
                            {% if entity.status == 0 %}

                                <input type="checkbox" class="eleve" name="list_eleves[]" value="{{ entity.id }}" title="{{ entity.eleve.nom }} {{ entity.eleve.prenom }}"
                                       {% if entity.id in app.session.get(app.request.get('activity') ~ '_list_eleves') %}
                                        checked="checked"
                                       {% endif %}
                                />


                            {% elseif entity.status == 1 %}
                                <p class="eleveAjoute">PRESENT</p>
                                <a href="javascript:submitOnRemove('{{ path('wcs_employee_remove',
                                {'activity':app.request.get('activity'), 'id': app.request.get('school').id, 'id_activity': entity.id })
                                }}');">Désinscrire</a>

                            {% elseif entity.status == 2 %}
                                <p class="eleveAjoute">PRESENT</p>

                            {% else %}

                            {% endif %}
                        </td>
                        <td class="text-center">{{ entity.eleve.division.grade }} {{ entity.eleve.division.headteacher }}</td>
                        <td class="text-center">{{ entity.eleve.nom |upper}}</td>
                        <td class="text-center">{{ entity.eleve.prenom }}</td>

                        {% if 'cantine' == app.request.get('activity') %}

                            <td class="text-center">{{ entity.eleve.allergie }}</td>
                            <td class="text-center sansporc">
                                {% if entity.eleve.regimeSansPorc == 1 %}
                                    OUI
                                {% endif %}
                            </td>

                        {% endif %}
                    </tr>
                {% endfor %}
            </table>

            <div class="row">
                <div class="text-center col-md-12">
                    <br />Si un élève de l'école "<strong>{{ app.request.get('school').name }}</strong>" n'est pas inscrit, <br />sélectionnez-le dans la liste ci-dessous et cliquez sur "inscrire un élève supplémentaire" :<br /><br />
                    {{ form_widget(form_register.eleve) }}
                </div>
                <div class="btnAjouter text-center col-md-12">
                    {{ form_widget(form_register.Ajouter) }}
                </div>
            </div>
            <br />
            <br />
            {{ form_end(form_register) }}

        </div>


        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="text-center">Nombre d'inscrits :</td>
                    <td id='total_registered' class="text-center"></td>
                </tr>

                {% if 'cantine' == app.request.get('activity') %}

                    <tr>
                        <td class="text-center">Nombre de Régime sans porc :</td>
                        <td id='total_no_pork' class="text-center"></td>
                    </tr>

                {% endif %}

                <tr>
                    <td class="text-center">Nombre d'enfants présents :</td>
                    <td id='total_present' class="text-center"></td>
                </tr>

            </table>
        </div>

        <form action="{{
        path('wcs_employee_daylist', {'activity': app.request.get('activity'), 'id': app.request.get('school').id})
        }}" method="POST" {{ form_enctype(form_validate) }}>

            <div>
                {{ form_widget(form_validate.status, {'attr' : {'class' : 'idElevesPresents'}})}}
            </div>
            <input type="submit" class="submit btn btn-primary text-center col-md-offset-4 col-md-4" name="login" value="Valider"/>

        </form>

    </div>



{% endblock %}


{% block javascripts %}
    <script src="{{ asset('bundles/wcscantine/js/jquery.min.js') }}"></script>
    <script src="{{ asset('bundles/wcscantine/js/bootstrap.min.js') }}"></script>

    <script>
        var submitOnRemove = function(url)
        {
            var form = document.forms['wcs_employeebundle_activity'];
            form.action = url;
            form.submit();
        };

        var updateHiddenListSelected = function(nodes_eleve)
        {
            $(".idElevesPresents").val(
                nodes_eleve.filter(':checked').map(function(){
                    return $(this).val();
                }).get().join()
            );
        };

        var updateStatsPresents = function(nodes_eleve)
        {
            $("#total_present").text(
                    $('.pupil:contains("PRESENT")').length +
                    nodes_eleve.filter(':checked').length
            );
        };

        window.onload = function ()
        {
            var nodes_eleve = $(".eleve");

            // update the stats : nb pupils registered
            $("#total_registered").text($('.pupil').length);

            // update the stats : nb pupils presents
            updateStatsPresents(nodes_eleve);

            // update the target field with all already checked pupils
            updateHiddenListSelected(nodes_eleve);

            {% if 'cantine' == app.request.get('activity') %}
                // update the stats : nb pupils with no pork diet
                $("#total_no_pork").text($('.sansporc:contains("OUI")').length);
            {% endif %}


            nodes_eleve.click(function () {
                updateStatsPresents(nodes_eleve);
            });

            nodes_eleve.on("change", function () {
                updateHiddenListSelected(nodes_eleve);
            });

        }
    </script>
{% endblock %}

{% block footer %}{% endblock %}


