{% extends '::base.html.twig' %}

{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <a href="{{ path('wcs_employee_schools', {'type_activity': 'cantine'}) }}" class="btn__retour">Retour</a>
        <center><h1>Restaurant scolaire : Nombre d'enfants inscrits par semaine</h1></center>
    </div>


    <div class="container-fluid">
        <div class="table-responsive">
            <table class="table">
                <tr>
                    <td class="text-center welcome schoolname" colspan="3">Enfants inscrits pour la semaine du {{ firstDay|date('d/m/Y') }} au {{ lastDay|date('d/m/Y') }}</td>
                </tr>

                <tr>
                    <td class="todayList text-center">Nombre de régimes traditionnels</td>
                    <td class="todayList text-center">Nombre de régimes sans porc</td>
                    <td class="todayList text-center">Total des repas</td>
                </tr>

                <tr>
                    <td class="todayList text-center">{{ mealsNumber }}</td>
                    <td class="todayList text-center">{{ mealsNumberWithoutPork }}</td>
                    <td class="todayList text-center">{{ mealsNumber + mealsNumberWithoutPork }}</td>
                </tr>
            </table>
        </div>
    </div>
{% endblock %}
