{% extends '::base.html.twig' %}
{% block body %}
    <div class='container'>
        <a href="{{ path('wcs_employee_home') }}" class="btn__retour">Retour</a>
        <center><h1>{{ title }}</h1></center>
    </div>

    <div class="container-fluid">
        {% if is_day_off %}
            <div class="school col-sm-offset-4 col-md-offset-4">
                <div class="school-isdayoff">
                    {{ day_off_message|raw }}

                </div>
            </div>
        {% else %}
            {% for school in schools %}
                <div class="school">
                    <a href="{{ path('wcs_employee_daylist', {'activity': app.request.get('activity'), 'id': school.id}) }}">
                        <button class="col-sm-offset-4 col-md-offset-4">
                            <i class="fa fa-home fa-2x"></i>
                            {{ school.name }}
                        </button>
                    </a>
                </div>
            {% endfor %}

        {% endif %}

        {% if app.request.get('activity') == 'cantine' %}
        <div class="commande">
            <a href="{{ path('wcs_employee_canteen_orders') }}">
                <button class="col-sm-offset-4 col-md-offset-4">
                    <i class="fa fa-cutlery fa-2x"></i>
                    Commande des repas
                </button>
            </a>
        </div>
        {% endif %}
    </div>

{% endblock %}

{% block footer %}{% endblock %}
