{% extends '::base.html.twig' %}

{% block title %}Inscription{% endblock %}

{% block body %}

    {% block retour %}
        <a href="{{ path('wcs_cantine_dashboard') }}">Retour</a>
    {% endblock %}

    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <center><h1>Restaurant Scolaire de La Loupe</h1></center>
        <center>
            <h4>
                Inscription de mon enfant
            </h4>
        </center>
        <hr>

        {{ form_start(form) }}

        <!-- Identité Eleve -->

        <div class="row">

            <div class="col-md-offset-1 col-md-9">
                <div class="form-group">
                    <h3>{{ eleve.prenom }} {{ eleve.nom }}</h3>
                </div>

                <div class="form-group">
                    <label for="nom">Né(e) le</label>
                    {{ eleve.dateDeNaissance|date('d/m/Y') }}
                </div>
                <div class="form-group">
                    {% if "now"|date("n") < 7 %}
                        <label for="etablissement">Classe en septembre {{ "now"|date("Y") - 1 }}</label>
                    {% else %}
                        <label for="etablissement">Classe en septembre {{ "now"|date("Y") }}</label>
                    {% endif %}
                    {{ eleve.division }}
                </div>

            </div>

        </div>

        <!-- Calendrier -->
        <div class="row">
            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                <h3 class="titre">Mon Calendrier</h3>
                </div>

                <blockquote>Mon enfant déjeunera de manière régulière au restaurant scolaire les : -Veuillez sélectionner les dates-<br />
                    Ces choix sont valables toute l’année. Ils serviront de base à la facturation mensuelle.</blockquote>

                <div class="col-md-12">
                    {% include 'WCSCantineBundle:Cantine:calendar.html.twig'
                    with {'calendrier':calendrier, 'eleve':eleve, 'form':form}
                    %}
                </div>
            </div>

        </div>

        <!-- Infos régime/menu particulier -->

        <div class="row">

            <div class="col-md-offset-1 col-md-10">
                <div class="form-group">
                    <h3>Menus Specifiques</h3>
                </div>
                <div class="form-group">
                    {{ form_widget(form.regimeSansPorc) }}
                    <label for="regime_sans_porc"> Régime Sans Porc</label>
                </div>
                <div class="form-group">
                    <label for="allergie">Allergie(s) alimentaire(s)</label><br/>
                    {{ form_widget(form.allergie) }} <br/>
                    {{ form_errors(form.allergie) }}
                </div>
                <blockquote>Toute allergie alimentaire doit obligatoirement être signalée. L'inscription au restaurant scolaire ne pourra se faire qu'après avis médical et mise en place d'un P.A.I (Plan d'Accueil Individualisé).</blockquote>

            </div>
        </div>

        <!-- Signatures -->

        <div class="row">

            <div class="col-md-offset-1 col-md-9">

                <h3>Signatures</h3>
                <div class="form-group">
                    {{ form_widget(form.canteen_atteste) }}
                    <label for="signatures"> J’atteste avoir pris connaissance du règlement intérieur du Restaurant Scolaire de La Loupe, et je m'engage à le respecter et à le faire respecter par mon enfant *</label><br/>

                    <blockquote>
                        <ul>
                            <li><a target="_blank" href="{{ asset('bundles/wcscantine/règlement/Reglement_interieur_cantine.pdf') }}">Télécharger le règlement intérieur</a></li>
                            <li><a target="_blank" href="{{ asset('bundles/wcscantine/règlement/Les_10_regles_d_or_de_la_cantine.pdf') }}">Télécharger les 10 règles d'or de la cantine</a></li>
                        </ul>
                    </blockquote>
                </div>
                <div class="form-group">
                    {{ form_widget(form.canteen_autorise) }}
                    <label for="autorise">J'autorise le responsable du restaurant scolaire ou son représentant à prendre toutes mesures d'urgence nécessaires en cas d'accident survenant à mon enfant *</label>
                    <blockquote>
                        A savoir :
                        <ul>
                            <li>appel du S.A.M.U</li>
                            <li>transfert à l'hôpital (ou à la clinique) le (la) plus proche</li>
                        </ul>
                    </blockquote>
                </div>
                <div class="form-group">
                    {{ form_widget(form.canteen_certifie) }}
                    <label for="atteste">Je certifie sur l’honneur l’exactitude de tous les renseignements saisis sur cette application concernant mon enfant ainsi que mon foyer *</label>
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <h6 id="champs">* champs obligatoire</h6><br>
                    <input type="submit" name="commit" value="Inscrire mon enfant" class="btn btn-primary btn-lg btn-block">
                </div>
            </div>
            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}
