{% extends '::base.html.twig' %}

{% block body %}

        <div class="col-md-8 col-md-offset-2">
            <p>Bonjour {{ app.user.username }}</p>
            <div class="my-home col-md-7">
                <h1>Mon Foyer</h1><br/>
                <p> {{ app.user }} </p><br/>


                <tr>

                    <td><i class="fa fa-phone"></i>{{ user.phone }}</td><br/>
                    <blockquote>
                        <td>{{ user.commune }}</td><br/>
                    </blockquote>
                    {% if modeDePaiement == 0 %}
                        <td>Paiement par chèque</td>
                    {% elseif modeDePaiement == 1 %}
                        <td>Paiement par espèces</td>
                    {% else  %}
                        <td>Paiement par prélèvement</td>
                    {% endif %}
                </tr><br/>
            </div>


            <div class="row">
                <div class="col-md-5">
                    <h3>Mes justificatifs</h3>
                    <td></td>
                </div>

            </div>

            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-danger">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}
            <a href="{{ path('sonata_user_profile_show') }}"><input type="button" value="Modifier mes informations"class="btn btn-primary"></a>
            <a href="{{ path('eleve_create') }}"><input type="button" value="Inscrire mon enfant"class="btn btn-primary"></a>

            <div class="children-list">
                    <h3>Mes enfants</h3>

                        {% for child in children %}
                            <tr>
                                <div class="panel panel-default">
                                    <div class="panel-heading">
                                            <td>{{ child.nom }}</td>
                                            <td>{{ child.prenom }}</td><br/>
                                    </div>
                                    <div class="panel-body-1">
                                            <td>Classe: {{ child.division }}</td><br/>

                                            {% if child.allergie %}
                                            <td>Allergie: {{ child.allergie }}</td>
                                            {% else %}
                                            <td>Aucune allergie alimentaire renseignée</td>
                                            {% endif %}<br/>
                                            {% if child.regimeSansPorc %}
                                            <td>Regime sans porc </td>
                                            {% else %}

                                            {% endif %}<br/>


                                                <p>Mange habituellement le :</p><br/>

                                                <div class="btn-group btn-group-justified" role="group">
                                                    {% for key,day in child.HabitDays %}
                                                        <a href="#" type="button" class="btn disabled {% if key in child.habits %}btn-success{% else %}btn-default{% endif %}">{{ day }}</a>
                                                    {% endfor %}
                                                </div>

                                                <a href="{{ path('eleve_edit', { 'id': child.id })}}"><input type="button" value="Modifier"class="btn btn-primary"></a><br/>
                                    </div>
                                </div>


                            </tr>
                        {% endfor %}

            </div>
            {% if app.session.flashBag.has('success') %}
                <div class="alert alert-success">
                    {% for msg in app.session.flashBag.get('success') %}
                        {{ msg }}
                    {% endfor %}
                </div>
            {% endif %}

            <blockquote>
                <ul>
                    <li><a target="_blank" href="{{ asset('bundles/wcscantine/règlement/Reglement_interieur_cantine.pdf') }}">Télécharger le règlement intérieur</a></li>
                    <li><a target="_blank"href="{{ asset('bundles/wcscantine/règlement/Les_10_regles_d_or_de_la_cantine.pdf') }}">Télécharger les 10 règles d'or de la cantine</a></li>
                </ul>
            </blockquote>
        </div>

{% endblock %}