{% extends '::base.html.twig' %}

{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <h1>Mon Foyer</h1>
            {{ app.user }}


            <tr>
                <th>adresse</th>
                <th>Code Postal</th>
                <th>Commune</th>
                <th>Téléphone</th>
            </tr>


                <tr>

                    <td>{{ user.adresse }}</td>
                    <td>{{ user.codePostal }}</td>
                    <td>{{ user.commune }}</td>
                    <td>{{ user.telephoneSecondaire }}</td>

                </tr>




            <h3>Mes justificatifs</h3>

            <h3>Mes enfants</h3>



        {% for child in children %}

                    <tr>

                        <td>{{ child.nom }}</td>
                        <td>{{ child.prenom }}</td>
                        <td>{{ child.allergie }}</td>
                        <td>{{ child.regimeSansPorc }}</td>

                    </tr>

            {% endfor %}


            <blockquote>
                <ul>
                    <li>Télécharger le règlement intérieur</li>
                    <li>Télécharger les 10 règles d'or de la cantine</li>
                </ul>
            </blockquote>
    </div>
{% endblock %}