{% extends '::base.html.twig' %}

{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <p>Bonjour {{ user.nom }}</p>
        <h1>Mon Foyer</h1>
            <p> {{ app.user }} </p><br/>

                <tr>

                    <td><i class="fa fa-phone"></i>{{ user.phone }}</td><br/>
                    <blockquote>
                        <td>{{ user.commune }}</td><br/>
                    </blockquote>
                    {% if modeDePaiement == 0 %}
                        <td>Paiement par chèque</td>
                    {% elseif modeDePaiement == 1 %}
                        <td>Paiement par espèces</td>
                    {% else  %}
                        <td>Paiement par prélèvement</td>
                    {% endif %}
                </tr><br/>
        <a href="{{ path('sonata_user_profile_show') }}"><input type="button" value="Modifier mes informations"class="btn btn-primary" ></a>
        <a href="{{ path('eleve_create') }}"><input type="button" value="Inscrire mon enfant"class="btn btn-primary"></a>




            <h3>Mes justificatifs</h3>
                <td>{{ user.justificatif }}</td>

            <tbody>
                <h3>Mes enfants</h3>

                {% for child in children %}

                    <tr>
                        <td>{{ child.nom }}</td>
                        <td>{{ child.prenom }}</td><br/>
                        {% if child.allergie %}
                            <td>Allergie: {{ child.allergie }}</td>
                        {% else %}
                            <td>Aucune allergie alimentaire renseignée</td>
                        {% endif %}<br/>
                        {% if child.regimeSansPorc %}
                            <td>Regime sans porc </td>
                        {% else %}

                        {% endif %}<br/>

                        <a href="{{ path('eleve_edit',{ 'id': child.id } )}}"><input type="button" value="Modifier"class="btn btn-primary"></a>
                        <td>{{ child.dates }}</td>

                    </tr>

                {% endfor %}
            </tbody>


            <blockquote>
                <ul>
                    <li>Télécharger le règlement intérieur</li>
                    <li>Télécharger les 10 règles d'or de la cantine</li>
                </ul>
            </blockquote>
    </div>
{% endblock %}