{% extends '::base.html.twig' %}

{% block body %}
    {% block retour %}
        <a href="{{ path('wcs_cantine_dashboard') }}">Retour</a>
    {% endblock %}

    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <center><h1>Modifier les informations sur mon enfant</h1></center><br/>

        <hr>
        {{ form_start(edit_form) }}
        {# Les erreurs générales du formulaire. #}
        {{ form_errors(edit_form) }}

        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="form-group">
                    {{ form_errors(edit_form.nom) }}
                    <label for="nom">Nom *</label>
                    {{ form_widget(edit_form.nom) }}
                </div>
                <div class="form-group">
                    {{ form_errors(edit_form.dateDeNaissance) }}
                    {{ form_label(edit_form.dateDeNaissance) }}
                    {{ form_widget(edit_form.dateDeNaissance) }}
                </div>
            </div>

            <div class="col-md-offset-1 col-md-5">
                <div class="form-group">
                    {{ form_errors(edit_form.prenom) }}
                    <label for="prenom">Prénom *</label>
                    {{ form_widget(edit_form.prenom) }}
                </div>

                <div class="form-group">
                    {{ form_errors(edit_form.division) }}
                    {% if "now"|date("n") < 5 %}
                        <label for="etablissement">Classe en septembre {{ "now"|date("Y") - 1 }}</label>
                    {% else %}
                        <label for="etablissement">Classe en septembre {{ "now"|date("Y") }}</label>
                    {% endif %}
                    {{ form_widget(edit_form.division) }}
                </div>

            </div>
        </div>


        <div class="col-md-12">
            <div class="form-group">
                <h3>Menus Specifiques</h3>
            </div>
            <div class="form-group">
                {{ form_errors(edit_form.regimeSansPorc) }}
                {{ form_widget(edit_form.regimeSansPorc) }}
                <label for="regime_sans_porc"> Régime Sans Porc</label>
            </div>
            <div class="form-group">
                {{ form_errors(edit_form.allergie) }}
                <label for="allergie">Allergie(s) alimentaire(s)</label><br/>
                {{ form_widget(edit_form.allergie) }}
            </div>
            <blockquote>Toute allergie alimentaire doit obligatoirement être signalée. L'inscription au restaurant scolaire ne pourra se faire qu'après avis médical et mise en place d'un P.A.I (Plan d'Accueil Individualisé).</blockquote>

            <div class="form-group calendar">
                <div class="anneescolaire">
                    {% for key,value in calendrier %}
                        {{ key }}
                    {% endfor %}
                </div>

                <div class="semaine">
                    {% for day in edit_form.habits %}
                        <div class="choix">
                            {{ form_widget(day) }}
                            {{ form_label(day) }}
                        </div>
                    {% endfor %}
                </div>

                <div class="months col-md-12 text-center">
                    <a class="moisecole" href="#" id="linkMonth09">Sep</a>
                    <a class="moisecole" href="#" id="linkMonth10">Oct</a>
                    <a class="moisecole" href="#" id="linkMonth11">Nov</a>
                    <a class="moisecole" href="#" id="linkMonth12">Déc</a>
                    <a class="moisecole" href="#" id="linkMonth01">Jan</a>
                    <a class="moisecole" href="#" id="linkMonth02">Fév</a>
                    <a class="moisecole" href="#" id="linkMonth03">Mar</a>
                    <a class="moisecole" href="#" id="linkMonth04">Avr</a>
                    <a class="moisecole" href="#" id="linkMonth05">Mai</a>
                    <a class="moisecole" href="#" id="linkMonth06">Jui</a>
                    <a class="moisecole" href="#" id="linkMonth07">Jui</a>
                </div>


                {% for year, months in calendrier %}
                    {% for month, days in months %}
                        <div class="month" id="month{{ month }}">
                            <table>
                                <thead>
                                <tr>
                                    {% for days in jours %}
                                        <th class="jourecole">{{ days }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>

                                <tbody>
                                <tr>

                                    {% for day,day_week in days %}
                                    {% if day == 1 %}
                                        {% if day_week != 1 %}
                                            <td colspan="{{ day_week - 1 }}"></td>
                                        {% endif %}
                                    {% endif %}

                                    {% if day_week == 3 or day_week == 6 or day_week == 7 or date(year ~ '-' ~ month ~ '-' ~ day).timestamp < dateLimit or date(year ~ '-' ~ month ~ '-' ~ day).timestamp > finAnnee %}

                                    <td class="inactif">

                                        {% else %}
                                    <td>
                                        {% endif %}


                                        {% if day_week != 3 and day_week != 6 and day_week != 7 %}

                                            <input class="calendar-checkbox {{ 'day' ~ day_week }}" type="checkbox" value="{{ year }}-{{ month }}-{{ day }}" name="{{ year }}-{{ month }}-{{ day }}">

                                        {% endif %}

                                        {{ day }}

                                        {% if (day_week == 7) %}
                                </tr><tr>
                                    {% endif %}

                                    {% endfor %}

                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                {% endfor %}



                <script>
                    window.onload = function () {
                        // Show the current month and hide the others
                        var today = new Date();
                        var currentMonth = today.getMonth()+1;
                        if (currentMonth<10) currentMonth = ''+0+currentMonth;
                        $('.months a#linkMonth'+currentMonth).addClass('active');
                        $('.month').hide();
                        $('.month#month'+currentMonth).show();

                        // Convert date checkboxes into text on submit
                        $('form[name="WCS_cantinebundle_eleve"]').submit(function(e){
                            e.preventDefault();
                            var dates = '';
                            $('.calendar-checkbox:checked').each(function(){
                                dates += this.value + ';';
                            });
                            $('#WCS_cantinebundle_eleve_dates').html(dates);
                            this.submit();
                        });

                        // Onclick the month selected appear and the other is hidden
                        $('.months a').click(function(){
                            var month = $(this).attr('id').replace('linkMonth', '');
                            var current = $('.months a.active').attr('id').replace('linkMonth', '');
                            if (month != current){
                                $('#month'+current).hide();
                                $('#month'+month).show();
                                $('.months a').removeClass('active');
                                $('.months a#linkMonth' + month).addClass('active');
                            }
                            return false;
                        });

                        // Auto select of week checkboxes
                        $('.choix input').on('change', function(){
                            var finAnnee = '{{ grandesVacances }}';
                            var finAnneeTS = new Date (finAnnee);
                            finAnneeTS.setHours(0); // Désactivation des heures, minutes et secondes
                            finAnneeTS.setMinutes(0);
                            finAnneeTS.setSeconds(0);

                            var vacancesHiver = [
                                {% for dateHiver in vacancesHiver %}
                                '{{ dateHiver }}',
                                {% endfor %}
                            ];

                            var vacancesNoel = [
                                {% for dateNoel in vacancesNoel %}
                                '{{ dateNoel }}',
                                {% endfor %}
                            ];
                            var vacancesToussaint = [
                                {% for dateNoel in vacancesNoel %}
                                '{{ dateNoel }}',
                                {% endfor %}
                            ];

                            var daySelected = parseInt($(this).attr('id').split('_')[4])+1;
                            if (daySelected >= 3) daySelected++;
                            var dateNow = new Date(); // Date d'aujourd'hui
                            dateNow.setHours(0); // Désactivation des heures, minutes et secondes
                            dateNow.setMinutes(0);
                            dateNow.setSeconds(0);
                            dateNow.setDate(dateNow.getDate() + 7);
                            var checked = $(this).is(':checked');
                            $('div.month td input.day' + daySelected).each(function() {
                                var getDate = $(this).attr('name');
                                var d = new Date (getDate);
                                d.setHours(0); // Désactivation des heures, minutes et secondes
                                d.setMinutes(0);
                                d.setSeconds(0);

                                if (d.getTime() > dateNow.getTime() && d.getTime() < finAnneeTS.getTime())
                                {
                                    $(this)[0].checked = checked;
                                    for (i = 0; i < vacancesHiver.length; i++) {
                                        if (vacancesHiver[i] == getDate){
                                            this.checked = false;
                                            $(this)[0].disabled = true;
                                        }
                                    }
                                    for (j = 0; j < vacancesNoel.length; j++) {
                                        if (vacancesNoel[j] == getDate){
                                            this.checked = false;
                                            $(this)[0].disabled = true;
                                        }
                                    }
                                    for (k = 0; k < vacancesToussaint.length; k++) {
                                        if (vacancesToussaint[k] == getDate){
                                            this.checked = false;
                                            $(this)[0].disabled = true;
                                        }
                                    }
                                }
                            })
                        });


                        // Get the checkboxes checked in comparison with the database dates
                        var datesArray = [
                            {% for lunch in lunches %}
                        '{{ lunch.date|date('Y-m-d') }}',
                            {% endfor %}];
                        $('.calendar-checkbox').each(function(){
                            var checkboxesValue = $(this).val();
                            for (a = 0; a < datesArray.length; a++) {
                                if (datesArray[a] == checkboxesValue) {
                                    this.checked = true;
                                }
                            }
                        });

                        // fonction pour bloquer les jours antérieurs + 7
                        function disablePrevDate(){
                            var dateNow = new Date(); // Date d'aujourd'hui
                            dateNow.setHours(0); // Désactivation des heures, minutes et secondes
                            dateNow.setMinutes(0);
                            dateNow.setSeconds(0);
                            dateNow.setDate(dateNow.getDate() + 7); // Ajout de 7 jours

                            var vacancesHiver = [
                                {% for dateHiver in vacancesHiver %}
                                '{{ dateHiver }}',
                                {% endfor %}
                            ];
                            var vacancesNoel = [
                                {% for dateNoel in vacancesNoel %}
                                '{{ dateNoel }}',
                                {% endfor %}
                            ];
                            var vacancesToussaint = [
                                {% for dateNoel in vacancesNoel %}
                                '{{ dateNoel }}',
                                {% endfor %}
                            ];

                            $(".calendar-checkbox").each(function(){ // Pour chaque checkbox
                                var allCheckboxes = $(this).attr('name'); // On récupère l'attribut 'name'
                                var currentDate = new Date(allCheckboxes); // On transforme en date (type js)
                                currentDate.setHours(0); // Désactivation des heures, minutes et secondes
                                currentDate.setMinutes(0);
                                currentDate.setSeconds(0);

                                $(this)[0].disabled = (currentDate.getTime() < dateNow.getTime());
                                // .disabled = désactive la checkbox, .getTime() = obtenir le timestamp

                                for (i = 0; i < vacancesHiver.length; i++) {
                                    if (vacancesHiver[i] == allCheckboxes){
                                        this.checked = false;
                                        $(this)[0].disabled = true;
                                    }
                                }
                               for (j = 0; j < vacancesNoel.length; j++) {
                                    if (vacancesNoel[j] == allCheckboxes){
                                        this.checked = false;
                                        $(this)[0].disabled = true;
                                    }
                                }
                                for (k = 0; k < vacancesToussaint.length; k++) {
                                    if (vacancesToussaint[k] == allCheckboxes){
                                        this.checked = false;
                                        $(this)[0].disabled = true;
                                    }
                                }
                            });
                        }

                        disablePrevDate(); // rappel de la fonction qui bloque les jours précédents + 7
                    }
                </script>
            </div>

            <div class="col-md-6 col-md-offset-3">
                <h6 id="champs">* champs obligatoire</h6><br>
                <input type="submit" name="commit" value="Modifier" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>


        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}

    </div>

{% endblock %}
