{% extends '::base.html.twig' %}

{% block body %}
    {% block retour %}
        <a href="{{ path('wcs_cantine_dashboard') }}">Retour</a>
    {% endblock %}

    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <center><h1>Modifier les informations sur mon enfant</h1></center><br/>

        <hr>
        {{ form_start(edit_form) }}
        {{ form_errors(edit_form) }}

        <div class="row">
            <div class="col-md-offset-1 col-md-4">
                <div class="form-group">
                    <label for="nom">Nom</label>
                    {{ eleve.nom }}
                </div>
                <div class="form-group">
                    <label for="nom">Né(e) le</label>
                    {{ eleve.dateDeNaissance|date('d/m/Y') }}
                </div>
            </div>

            <div class="col-md-offset-1 col-md-5">
                <div class="form-group">
                    <label for="prenom">Prénom </label>
                    {{ eleve.prenom }}
                </div>

                <div class="form-group">
                    {{ form_errors(edit_form.division) }}
                        <label for="etablissement">Classe en septembre {{ school_year.firstDate|date("Y") }}</label>
                    {{ form_widget(edit_form.division) }}
                </div>

            </div>
        </div>


        <div class="row">
            <div class="col-md-3 col-md-offset-4">
                <input type="submit" name="commit" value="Enregister" class="btn btn-primary btn-lg btn-block">
            </div>
        </div>


        {{ form_rest(edit_form) }}
        {{ form_end(edit_form) }}

    </div>

{% endblock %}
