{% extends '::base.html.twig' %}

{% block body %}

    <a href="{{ path('wcs_gesty_ecoles') }}" class="btn__retour">Retour</a>

    <div class="table-responsive">
        <table class="table">

            <tr>
                <td class="text-center" colspan="5">Enfants inscrits</td>
            </tr>

            <tr>
                <td class="text-center">Présence</td>
                <td class="text-center">Nom</td>
                <td class="text-center">Prénom</td>
                <td class="text-center">Allergie(s)</td>
                <td class="text-center">Régime sans porc</td>
            </tr>

            {% for eleve in aujourdhui %}
                <tr>
                    <td class="text-center"><input type="checkbox" class="eleve" name="eleve" value="{{ eleve.nom }}'-'{{ eleve.prenom }}'-'{{ eleve.dates }}" /></td>
                    <td class="text-center">{{ eleve.nom }}</td>
                    <td class="text-center">{{ eleve.prenom }}</td>
                    <td class="text-center">{{ eleve.allergie }}</td>
                    <td class="text-center">{{ eleve.regimeSansPorc }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>

    <div class="table-responsive">
        <table class="table">
            <tr>
                <td>Nombre d'inscrits :</td>
                <td class="test text-center"></td>
            </tr>
            <tr>
                <td>Nombre d'enfants présents :</td>
                <td class="total text-center"></td>
            </tr>
        </table>
    </div>


    {% block javascripts %}
        <script src="{{ asset('bundles/wcscantine/js/jquery.min.js') }}"></script>
        <script src="{{ asset('bundles/wcscantine/js/bootstrap.min.js') }}"></script>
    {% endblock %}
    <script>
        var totalCheckboxes = $('input:checkbox');
        var totalEleves = totalCheckboxes.length;
        window.onload = function () {
            $(".test")[0].innerHTML = totalEleves;
        };
        $( ".eleve" ).click(function() {
            var countCheckedCheckboxes = $('input:checkbox:checked').length;
            $(".total")[0].innerHTML = countCheckedCheckboxes;
        });
    </script>

{% endblock %}




