{% extends '::base.html.twig' %}

{% block body %}

    <a href="{{ path('wcs_gesty_ecoles') }}" class="btn__retour">Retour</a>

    <div class="table-responsive">
        <table class="table">

            <tr>
                <td colspan="5">Enfants inscrits</td>
            </tr>

            <tr>
                <td>Présence</td>
                <td>Nom</td>
                <td>Prénom</td>
                <td>Allergie(s)</td>
                <td>Régime sans porc</td>
            </tr>

            {% for eleve in aujourdhui %}
                <tr>
                    <td><input type="checkbox" name="vehicle" value="{{ eleve.nom }}'-'{{ eleve.prenom }}'-'{{ eleve.dates }}" /></td>
                    <td>{{ eleve.nom }}</td>
                    <td>{{ eleve.prenom }}</td>
                    <td>{{ eleve.allergie }}</td>
                    <td>{{ eleve.regimeSansPorc }}</td>
                </tr>
            {% endfor %}

        </table>
    </div>



{% endblock %}
