{% extends '::base.html.twig' %}
{% block title %}Inscription{% endblock %}


{% block body %}
    <div class='container' role='main' xmlns="http://www.w3.org/1999/html">
        <center><h1>Inscription de mon enfant</h1></center>
        <center>
            <h4>
                au Restaurant Scolaire de La Loupe
            </h4>
        </center>
        <hr>

        {{ form_start(form) }}

        <div class="row">
            <!--<form class="edit_home" id="edit_home_181" enctype="multipart/form-data" action="/homes/181" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="&#x2713;" /><input type="hidden" name="_method" value="patch" /><input type="hidden" name="authenticity_token" value="aQFRfA7WoIAqNrHnChqwC0c9ZItQKix1Hp7z05hpFf/dg/CfHidnJIsw63yeElcDN8/qlTkN1yAypVsN+hVqbA==" /> -->
            <div class="col-md-offset-1 col-md-4">
                <div class="form-group">
                    <label for="nom">Nom *</label>
                    {{ form_widget(form.nom) }} <br/>
                </div>
                <div class="form-group">
                    <label for="date_de_naissance">Date de naissance *</label>
                    {{ form_widget(form.dateDeNaissance) }} <br/>
                </div>
            </div>
            <div class="col-md-offset-1 col-md-5">
                <div class="form-group">
                    <label for="prenom">Prénom *</label>
                    {{ form_widget(form.prenom) }} <br/>
                </div>
                <div class="form-group">
                    <label for="etablissement">Classe en septembre 2015</label>
                    {{ form_widget(form.idEtablissement) }} <br/>
                </div>

                <div class="hidden">
                    {{ form_widget(form.dates) }}
                </div>

            </div>

            <div class="col-md-12"><!-- Calendar -->

                <h3 class="titre">Mon Calendrier</h3>

                <blockquote class="information">Mon enfant déjeunera de manière régulière au restaurant scolaire les : -Veuillez sélectionner les dates-</br>
                Ces choix sont valables toute l’année. Ils serviront de base à la facturation mensuelle.</blockquote>

                <div class="anneescolaire">
                    {% for key,value in calendrier %}
                        {{ key }}
                    {% endfor %}
                </div>

                <div class="semaine">
                    <div class="choix"><input type="checkbox" value="0" name="lundi" id="tousleslundis" /> Tous les lundis</div>

                    <div class="choix"><input type="checkbox" value="0" name="mardi" id="touslesmardis" /> Tous les mardis</div>

                    <div class="choix"><input type="checkbox" value="0" name="jeudi" id="touslesjeudis" /> Tous les jeudis</div>

                    <div class="choix"><input type="checkbox" value="0" name="vendredi" id="touslesvendredis" /> Tous les vendredis</div>

                    <script>
                        // Auto seclect of checkboxes
                        window.onload = function () {
                            $('#tousleslundis').change(function(){
                                alert('salut');
                                if (this.attr('id')=="tousleslundis"){
                                    $('td:first input.calendar-checkbox').val(this.val());
                                }
                            })
                        }
                    </script>

                </div>

                <div class="months col-md-12 text-center">
                    {% for key,value in calendrier %}
                        {% for mois,jour in value %}
                            {% if mois == 1 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Jan</a>
                            {% endif %}
                            {% if mois == 2 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Fév</a>
                            {% endif %}
                            {% if mois == 3 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Mar</a>
                            {% endif %}
                            {% if mois == 4 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Avr</a>
                            {% endif %}
                            {% if mois == 5 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Mai</a>
                            {% endif %}
                            {% if mois == 6 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Jui</a>
                            {% endif %}
                            {% if mois == 7 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Jui</a>
                            {% endif %}
                            {% if mois == 8 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Aoû</a>
                            {% endif %}
                            {% if mois == 9 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Sep</a>
                            {% endif %}
                            {% if mois == 10 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Oct</a>
                            {% endif %}
                            {% if mois == 11 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Nov</a>
                            {% endif %}
                            {% if mois == 12 %}
                                <a class="moisecole" href="#" id="linkMonth{{ mois }}">Déc</a>
                            {% endif %}
                        {% endfor %}
                    {% endfor %}
                </div>

                {% for year, months in calendrier %}
                    {% for month, days in months %}
                        <div class="month" id="month{{ month }}">
                            <table>
                                <thead>
                                <tr>
                                    {% for days in jours %}
                                        <th class="jourecole">{{ days }}</th>
                                    {% endfor %}
                                </tr>
                                </thead>
                                <tbody>
                                <tr>
                                    {% for day,day_week in days %}
                                    {% if day == 1 %}
                                        {% if day_week != 1 %}
                                            <td colspan="{{ day_week - 1 }}"></td>
                                        {% endif %}
                                    {% endif %}
                                    {% if day_week == 3 or day_week == 6 or day_week == 7 %}
                                    <td class="inactif">
                                        {% else %}
                                    <td>
                                        {% endif %}
                                        {% if day_week != 3 and day_week != 6 and day_week != 7 %}
                                            <input class="calendar-checkbox" type="checkbox" value="{{ year }}-{{ month }}-{{ day }}">
                                        {% endif %}
                                        {{ day }}

                                        {% if (day_week == 7) %}
                                </tr><tr>
                                    {% endif %}

                                    {% endfor %}
                                </tr>
                                </tbody>
                            </table>
                        </div>
                    {% endfor %}
                {% endfor %}


                <script>
                    window.onload = function () {
                        $('.month').hide();
                        $('.month:first').show();
                        $('.months a:first').addClass('active');
                        $('form[name="WCS_cantinebundle_eleve"]').submit(function(e){
                            e.preventDefault();
                            var dates = '';
                            $('.calendar-checkbox:checked').each(function(){
                                dates += this.value + ';';
                            });
                            $('#WCS_cantinebundle_eleve_dates').html(dates);
                            this.submit();
                        });
                        var current = 9;
                        $('.months a').click(function(){
                            var month = $(this).attr('id').replace('linkMonth', '');
                            if (month != current){
                                $('#month'+current).slideUp();
                                $('#month'+month).slideDown();
                                $('.months a').removeClass('active');
                                $('.months a#linkMonth' + month).addClass('active');
                                current = month;
                            }
                            return false;
                        });
                    }
                </script>
            </div>

            <div class="col-md-offset-1 col-md-9">
                <div class="form-group">
                    <h3>Menus Specifiques</h3>
                </div>
                <div class="form-group">
                    <!--<input name="home[active_transfer]" type="hidden" value="0" /><input type="checkbox" value="1" checked="checked" name="home[active_transfer]" id="home_active_transfer" /> -->
                    {{ form_widget(form.regimeSansPorc) }}
                    <label for="regime_sans_porc"> Régime Sans Porc</label>
                </div>
                <div class="form-group">
                    <label for="allergie">Allergie(s) alimentaire(s)</label><br/>
                    {{ form_widget(form.allergie) }} <br/>
                    <!--<input class="form-control" type="text" value="Wcs" name="home[lastname]" id="home_lastname" /> -->
                </div>
                <blockquote>Toute allergie alimentaire doit obligatoirement être signalée. L'inscription au restaurant scolaire ne pourra se faire qu'après avis médical et mise en place d'un P.A.I (Plan d'Accueil Individualisé).</blockquote>
                <h3>Signatures</h3>
                <div class="form-group">
                    {{ form_widget(form.atteste) }}
                    <label for="signatures"> J’atteste avoir pris connaissance du règlement intérieur du Restaurant Scolaire de La Loupe, et je m'engage à le respecter et à le faire respecter par mon enfant *</label><br/>

                    <blockquote>
                        <ul>
                            <li>Télécharger le règlement intérieur</li>
                            <li>Télécharger les 10 règles d'or de la cantine</li>
                        </ul>
                    </blockquote>
                </div>
                <div class="form-group">
                    {{ form_widget(form.autorise) }}
                    <label for="autorise">J'autorise le responsable du restaurant scolaire ou son représentant à prendre toutes mesures d'urgence nécessaires en cas d'accident survenant à mon enfant *</label>
                    <blockquote>
                        A savoir :
                        <ul>
                            <li>appel du S.A.M.U</li>
                            <li>transfert à l'hôpital (ou à la clinique) le (la) plus proche</li>
                        </ul>
                    </blockquote>
                </div>
                <div class="form-group">
                    {{ form_widget(form.certifie) }}
                    <label for="atteste">Je certifie sur l’honneur l’exactitude de tous les renseignements saisis sur cette application concernant mon enfant ainsi que mon foyer *</label>
                </div>

                <div class="col-md-6 col-md-offset-3">
                    <h6 id="champs">* champs obligatoire</h6><br>
                    <input type="submit" name="commit" value="Inscrire mon enfant" class="btn btn-primary btn-lg btn-block">
                </div>
            </div>

            {{ form_end(form) }}
        </div>
    </div>
{% endblock %}

