{% extends '::base.html.twig' %}

{% block body %}
    <h1>Mon foyer</h1>

    <table class="record_properties">
        <tbody>
            <tr>
                <th>Nom</th>
                <td>{{ entity.nom }}</td>
            </tr>
            <tr>
                <th>Prenom</th>
                <td>{{ entity.prenom }}</td>
            </tr>
            <tr>
                <th>Datedenaissance</th>
                <td>{{ entity.dateDeNaissance|date('Y-m-d') }}</td>
            </tr>
            <tr>
                <th>Idetablissement</th>
                <td>{{ entity.idEtablissement }}</td>
            </tr>
            <tr>
                <th>Regime sans porc</th>
                <td>{{ entity.regimeSansPorc }}</td>
            </tr>

        </tbody>
    </table>

        <ul class="record_actions">
    <li>
        <a href="{{ path('eleve_edit', { 'id': entity.id }) }}">
            Edit
        </a>
    </li>

</ul>
{% endblock %}
