{% extends '::base.html.twig' %}

{% block body %}


    <h3><i class="fa fa-cutlery"></i>Pour facturation mensuelle</h3>
    <table id="userTable" class="table table-hover tablesorter table-bordered">
        <thead>
         <tr class="success">
            <th>Nom</th>
            <th>Prenom</th>
            <th>Classe</th>
            <th>Tap/Garderie</th>
            <th>Cantine</th>
         </tr>

        </thead>

        <tbody>
        {% for eleve in eleves %}
        <tr>
            <td>{{ eleve['eleve'].nom }}</td>
            <td>{{ eleve['eleve'].prenom }}</td>
            <td>{{ eleve['eleve'].division.grade }}</td>
            <td>{{ eleve['total_tapgarderie'] }}</td>
            <td>{{ eleve['total_cantine'] }}</td>
        </tr>
        {% endfor %}
        </tbody>
    </table>


{% endblock %}
