{% extends sonata_block.templates.block_base %}

{% block block %}
    <div id="stats" class="container">
        <div class="row">
            <h3><i class="fa fa-bar-chart-o"></i> Stat Générales</h3>
            <table class="table table-hover tablesorter table-bordered">
                <thead>
                <tr class="success">
                    <th>Total utilisateurs</th>
                    <th>Total enfants</th>
                    <th>Total tap</th>
                    <th>Total garderie</th>
                    <th>Total repas</th>
                    <th>Total ecoles</th>
                </tr>
                </thead>
                <tr>
                     <td>{{ tots.users }}</td>
                     <td>{{ tots.children }}</td>
                     <td>{{ tots.tap }}</td>
                     <td>{{ tots.gardery }}</td>
                     <td>{{ tots.meals }}</td>
                     <td>{{ tots.schools }}</td>
                </tr>
            </table>
        </div>

        <div class="row">
            <div id="block__stateleves" class="col-md-6 blocks__statuser">
                {% include 'WCSCantineBundle:Block:statsweek.html.twig' with
                    {   'weekTitle': 'Repas de la semaine',
                        'weekMealsNoPork': currentWeekMealsNoPork,
                        'weekMeals': currentWeekMeals
                    }
                %}
            </div>
            <div class="col-md-6 blocks__statuser">
                {% include 'WCSCantineBundle:Block:statsweek.html.twig' with
                    {   'weekTitle': 'Repas de la semaine prochaine',
                        'weekMealsNoPork': nextWeekMealsNoPork,
                        'weekMeals': nextWeekMeals
                    }
                %}
            </div>
        </div>
        <div>
            <input type="button" name="Statistiques Mensuelles" value="Statistiques" onclick="self.location.href='statmonthly.html.twig'" style="background-color:#3cb371" style="color:white; font-weight:bold"onclick>
        </div>
    </div>


{% endblock %}
