<!-- champ caché destiné à recevoir les dates de réservation -->
{{ form_widget(form.taps) }}
{{ form_widget(form.garderies) }}

<div class="anneescolaire">
    Du {{ periode_tap.debut|date('d/m/Y') }} au {{ periode_tap.fin|date('d/m/Y') }}
</div>
<br />
<div class="month" id="month4">
    <table>
        <thead>
            <tr>
                <th class="jourecole">&nbsp;</th>
                <th class="jourecole">Lun</th>
                <th class="jourecole">Mar</th>
                <th class="jourecole">Mer</th>
                <th class="jourecole">Jeu</th>
                <th class="jourecole">Ven</th>
            </tr>
        </thead>
        <tbody>
            <tr>
                <td>Garderie - matin</td>

                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="1-1" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="2-1" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="3-1" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="4-1" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="5-1" name="dates_garderie[]" />
                </td>
            </tr>
            <tr>
                <td>TAP - après-midi</td>
                <td class="inactif">
                </td>
                <td >
                    <input type="checkbox" class="calendar-checkbox day_tap_2" type="checkbox" value="2" name="dates_tap[]" />
                </td>
                <td class="inactif">
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_tap_3" type="checkbox" value="4" name="dates_tap[]" />
                </td>
                <td class="inactif">
                </td>
            </tr>
            <tr>
                <td>Garderie - soir</td>

                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="1-2" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="2-2" name="dates_garderie[]" />
                </td>
                <td class="inactif">
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="4-2" name="dates_garderie[]" />
                </td>
                <td>
                    <input type="checkbox" class="calendar-checkbox day_garderie" type="checkbox" value="5-2" name="dates_garderie[]" />
                </td>
            </tr>
        </tbody>
    </table>
</div>
<div class="calendar-legend">
    <div class="row">
        <div class="col-md-8">
            <span class="calendar-legend-square inactif"></span>
            Pas de TAP ou de Garderie
        </div>
    </div>
</div>
Le premier jour d'inscription est ouvert à partir du <strong>{{ first_day_available|date('d/m/Y') }}</strong>
<br />
<br />
<br />


<script>
    window.addEventListener('load', function(){

        // ---------------------------------------------------------------------------------------------------
        // Coche les dates formattées
        // ---------------------------------------------------------------------------------------------------
        var unserializeDatesAndCheck = function(id)
        {
            var str = $(id).val();
            var dates = str.split(';');

            $('.calendar-checkbox').each(function(){
                var obj = this;

                if (dates.find( function(e) {return e==obj.value;} )) {
                    obj.checked = true;
                }
            });
        }
        unserializeDatesAndCheck('#WCS_cantinebundle_tapgarderie_taps');
        unserializeDatesAndCheck('#WCS_cantinebundle_tapgarderie_garderies');

        // ---------------------------------------------------------------------------------------------------
        // Formatte les dates cochées lorsque l'on valide le formulaire
        // ---------------------------------------------------------------------------------------------------
        var serializeDatesChecked = function()
        {
            var dates_garderies = [];
            var dates_taps = [];

            $('.calendar-checkbox:checked').each(function(){
                if (this.value && this.name=='dates_garderie[]') {
                    dates_garderies.push(this.value);
                }
                if (this.value && this.name=='dates_tap[]') {
                    dates_taps.push(this.value);
                }
            });
            $('#WCS_cantinebundle_tapgarderie_garderies').val(dates_garderies.join(";"));
            $('#WCS_cantinebundle_tapgarderie_taps').val(dates_taps.join(";"));
        }


        $('.calendar-checkbox').on('change', function() {
            serializeDatesChecked();
        });

        $('form[name="WCS_cantinebundle_tapgarderie"]').submit(function(e){
            e.preventDefault();
            serializeDatesChecked();
            this.submit();
        });
    });
</script>
