            <tr>
                <td>{{ label }}</td>

                {% if not week.totalMonday %}
                    <td>
                        <input type="checkbox" class="calendar-checkbox day_garderie" title="lundi" value="1{{ value_suffix }}" name="{{ name }}" />
                    </td>
                {% else %}
                    <td class="inactif">
                    </td>
                {% endif %}

                {% if not week.totalTuesday %}
                    <td>
                        <input type="checkbox" class="calendar-checkbox day_garderie" title="mardi" value="2{{ value_suffix }}" name="{{ name }}" />
                    </td>
                {% else %}
                    <td class="inactif">
                    </td>
                {% endif %}

                {% if not week.totalWednesday %}
                    <td>
                        <input type="checkbox" class="calendar-checkbox day_garderie" title="mercredi" value="3{{ value_suffix }}" name="{{ name }}" />
                    </td>
                {% else %}
                    <td class="inactif">
                    </td>
                {% endif %}

                {% if not week.totalThursday %}
                    <td>
                        <input type="checkbox" class="calendar-checkbox day_garderie" title="jeudi" value="4{{ value_suffix }}" name="{{ name }}" />
                    </td>
                {% else %}
                    <td class="inactif">
                    </td>
                {% endif %}

                {% if not week.totalFriday %}
                    <td>
                        <input type="checkbox" class="calendar-checkbox day_garderie" title="vendredi" value="5{{ value_suffix }}" name="{{ name }}" />
                    </td>
                {% else %}
                    <td class="inactif">
                    </td>
                {% endif %}
            </tr>
